/* ----------------------------- */
/* == 404                        */
/* ----------------------------- */

.error404 {
  #main {
  	background: url(../images/bg-404.svg) no-repeat 50% 0 / cover;
  	.section {
	    height: calc(100vh - 8rem);
	    .wrapper, .flex-container {
	    	height: 100%;
	    }
	    .wrapper {
	    	h1 {
	    		font-size: 12rem;
	    		font-weight: 700;
	    		line-height: 1;
	    		margin-bottom: 2.5rem;
	    	}
	    	.btn {
	    		a {
	    			text-decoration: none;
	    			&:hover, &:focus {
	    				color: #fff;
	    			}
	    		}
	    	}
	    }
	  }
  }
  #footer {
  	display: none;
  }
}
