/* ----------------------------- */
/* ==Global                      */
/* ----------------------------- */


.hidden {
	display: none;
}


h2 {
    font-size: 4.8rem;
    font-weight: 600;
    color: $color3;
    margin: 0 0 1rem;
    @media ( max-width: $small ) {
      font-size: 3rem;
    }
}

h3 {
    font-size: 2.2rem;
    font-weight: 600;
    margin: 0 0 1rem;
}

.section {
  border: 1px solid $color8;
  border-width: 0;
	.intro {
    font-size: 1.8rem;
    font-weight: 400;
    @media (max-width: $small) {
      font-size: 1.8rem !important;
    }
	}
	&#home {
		.intro {
			font-size: 3.2rem;
	    text-align: center;
      @media  ( max-width: $extra-large ) {
        font-size: 2.5rem;
      }
		}
    @media (min-width: ( $small + 1)) and (max-width: 1024px) and (orientation: landscape) {
      .w60 {
        margin-right: auto !important;
        margin-left: auto !important;
      }
    }
    @media ( max-width: $medium ) {
      .w60 {
        width: 100% !important;
      }
    }
    @media (min-width: ($medium + 1) ) and ( max-width: $extra-large ) {
      .w60 {
        width: 50% !important;
      }
    }
	}
  &.full-height {
    height: 100vh;
    padding: 7vh 0 !important;
  }
  @media (max-width: $tiny) {
    &.full-height {
      height: auto !important;
    }
  }
  @media ( max-width: $small ) {
    &:not(#home) {
      background-image: none !important;
    }
  }

}

ul {
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding: 0;
}

p, li {
    font-size: 1.6rem;
    font-weight: 300;
    margin: 0 0 2rem;
}

p:nth-last-child(1),
li:nth-last-child(1) {
    margin-bottom: 0;
}

.pabn { padding-bottom: 0 !important; }
.patn { padding-top: 0 !important; }
.ptl { padding-top: 5vh; }
.ptxl { padding-top: 10vh; }
.pbl { padding-bottom: 5vh; }
.pbxl { padding-bottom: 10vh; }
.mar2 { margin-right: 2vh; }
.pab7 { padding-bottom: 7vh; }

.flex-item-center.push {
  margin: auto 0 auto auto;
}

.bkg1 {
  background-color: $color10;
}
.bkg2 {
  background-color: $color4;
  color: #fff;
}

.borb {
  border-bottom: 1px solid $color8;
}

.btn {
	clear: both;
  display: inline-block;
  text-align: center;
  margin-top: 4rem;
  white-space: nowrap;
  font-size: 2rem;
}

.btn:not(.submit), .btn input[type="submit"] {
	background: transparent;
	display: block;
	line-height: 5rem;
	border: solid 1px $color3;
	border-radius: 100px;
	color: $color3;
	text-decoration: none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	padding: 0 5rem;
  font-weight: 600;
  @media (max-width: $tiny) {
    font-size: 1.5rem;
  }

	&:hover, &:focus {
		background: $color3;
  	color: $color2 !important;
	}
  &.orange {
    border-color: $color5;
    color: $color5;
    &:hover, &:focus {
      background: $color5;
      color: $color2 !important;
    }
  }
}

.video-container {
  display: block;
  padding-top: 15vh;
  position: relative;

  .inner {
    height: 100%;
    width: 100%;
    position: relative;
    background: $color1;

    .loaded_bar {
      content: '';
      display: block;
      height: 12px;
      background: $color3;
      width: 0;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  .play, .pause {
    height: 110px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -55px 0 0 -55px;
    width: 110px;
    z-index: 1;
    @media (max-width: $small) {
      height: 50px;
      width: 50px;
      margin: -25px 0 0 -25px;
    }
  }
  .pause { display: none; }

  video {
    width: 100%    !important;
    height: auto   !important;
    transform: scale(0.8);
    transition: transform 1s ease;
    opacity: .4;
    position: relative;
    &.scale {
      transform: scale(1);
    }
  }
}

//media queries [Global]

@media (min-width: ( $small + 1)) and (max-width: 1024px) and (orientation: portrait) {
  .section {
    background-size: 100% auto !important;
    .grid {
      &.has-gutter-xl {
        .right {
          width: 100% !important;
        }
        .three-quarters {
          width: 100% !important;
        }
      }
    }
  }
}

@media ( max-width: $medium ) and (orientation: landscape) {

  .section {
    .grid {
      &.has-gutter-xl {
        .right {
          width: calc(100% / 3 - 0.01px) !important;
        }
      }
    }
  }

}
