/* ----------------------------- */
/* ==Global                      */
/* ----------------------------- */


.hidden {
	display: none;
}

.noScroll {
  overflow: hidden;
}


h2 {
    font-size: 2.2rem;
    font-weight: 900;
    color: $color3;
    margin: 0 0 2.2rem;
    line-height: 1;
    @media ( max-width: $small ) {
      font-size: 3rem;
    }
}

h3 {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0 0 1rem;
}

.section {
  border: 1px solid $color8;
  border-width: 0;
	.intro {
    font-size: 1.8rem;
    font-weight: 400;
    @media (max-width: $small) {
      font-size: 1.8rem !important;
    }
	}
	&#home {
		.intro {
			font-size: 2.2rem;
      font-weight: 700;
	    text-align: center;
      margin-bottom: 3.2rem;
      line-height: 1.4;
      color: #4F4F4F;
		}
    @media (min-width: ( $small + 1)) and (max-width: 1024px) and (orientation: landscape) {
      .w60 {
        margin-right: auto !important;
        margin-left: auto !important;
      }
    }
    @media ( max-width: $medium ) {
      .w60 {
        width: 100% !important;
      }
    }
    @media (min-width: ($medium + 1) ) and ( max-width: $extra-large ) {
      .w60 {
        width: 50% !important;
      }
    }
	}
  &.full-height {
    height: 100vh;
    padding: 7vh 0 !important;
    .wrapper, .grid, .one-third {
      height: 100%,
    }
    .one-third {
      display: flex;
      .contBloc {
        margin: auto 0;
      }
    }
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

      background-size: 60% auto !important;
      height: auto !important;

    }
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
      background: none !important;
      height: auto !important;
    }

  }
  @media (max-width: $tiny) {
    &.full-height {
      height: auto !important;
    }
  }

}

.home {
  #main {
    .section {
      @media ( max-width: $small ) {

        &:not(#home) {
          background-image: none !important;
        }
      }

    }
  }
}

ul {
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding: 0;
}

p, li {
    color: $color1;
    font-size: 1.6rem;
    font-weight: 300;
    margin: 0;
}

p:nth-last-child(1),
li:nth-last-child(1) {
    margin-bottom: 0;
}

.pabn { padding-bottom: 0 !important; }
.patn { padding-top: 0 !important; }
.ptl { padding-top: 5vh; }
.ptxl { padding-top: 10vh; }
.pbl { padding-bottom: 5vh; }
.pbxl { padding-bottom: 10vh; }
.mar2 { margin-right: 2vh; }
.pab7 { padding-bottom: 7vh; }

.flex-item-center.push {
  margin: auto 0 auto auto;
}

.bkg1 {
  background-color: $color10;
}
.bkg2 {
  background-color: $color4;
  color: #fff;
}

.borb {
  border-bottom: 1px solid $color8;
}

.btn {
	clear: both;
  display: inline-block;
  text-align: center;
  margin-top: 4rem;
  white-space: nowrap;
  font-size: 1.6rem;
}

.button {
  display: block;
  text-decoration: none;
  transition: all .3s ease;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  > a {
    background: transparent;
    border: solid 1px $color3;
    color: $color3;
    display: inline-block;
    text-decoration: none;
    line-height: 4rem;
    border-radius: 100px;
    padding: 0 2rem;
    transition: all .2s ease;
    &:hover, &:focus {
      color: $color2;
      background: $color3;
    }
  }
}

.btn:not(.submit), .btn input[type="submit"] {
	background: transparent;
	display: block;
	line-height: 4rem;
	border: solid 1px $color3;
	border-radius: 100px;
	color: $color3;
	text-decoration: none;
	transition: all .3s ease;
	padding: 0 5rem;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  @media (max-width: $tiny) {
    font-size: 1.5rem;
  }

	&:hover, &:focus {
		background: $color3;
  	color: $color2 !important;
	}
  &.orange {
    border-color: $color5;
    color: $color5;
    &:hover, &:focus {
      background: $color5;
      color: $color2 !important;
    }
  }
}

.video-container {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -480px;
  width: 960px;
  //height: 570px;
  height: 557px;
  margin-top: -285px;
  padding: 20px;
  background: $color2;
  border-radius: 3px;
  z-index: 2001;
  box-shadow: 0 11px 47px 7px rgba(71,73,80,0.2);
  display: none;

  .close {
    position: absolute;
    top: -30px;
    right: -20px;
  }

  .inner {
    height: 100%;
    width: 100%;
    position: relative;
    background: $color1;
    overflow: hidden;

    .loaded_bar {
      content: '';
      display: block;
      height: 12px;
      background: $color3;
      width: 0;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  /*.play, .pause {
    height: 110px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -55px 0 0 -55px;
    width: 110px;
    z-index: 1;
    @media (max-width: $small) {
      height: 50px;
      width: 50px;
      margin: -25px 0 0 -25px;
    }
  }
  .pause { display: none; }

  video {
    width: 100%    !important;
    height: auto   !important;
    transform: scale(0.8);
    transition: transform 1s ease;
    //opacity: .4;
    position: relative;
    &.scale {
      transform: scale(1);
    }
  }*/
}

//media queries [Global]

@media (min-width: ( $small + 1)) and (max-width: 1024px) and (orientation: portrait) {
  .section {
    background-size: 100% auto !important;
    .grid {
      &.has-gutter-xl {
        .right {
          width: 100% !important;
        }
        .three-quarters {
          width: 100% !important;
        }
      }
    }
  }
}

@media ( max-width: $medium ) and (orientation: landscape) {

  .section {
    .grid {
      &.has-gutter-xl {
        .right {
          width: calc(100% / 3 - 0.01px) !important;
        }
      }
    }
  }

}

.section {
  @media (min-width: ($small + 1)) {
    .posLeft {
      -webkit-order: 1;
      order: 1;
      margin: auto auto auto 0;
      & + .img-pos {
        -webkit-order: 2;
        order: 2;
      }
    }
    .posRight {
      -webkit-order: 2;
      order: 2;
      margin: auto 0 auto auto;
      & + .img-pos {
        -webkit-order: 1;
        order: 1;
      }
    }
  }
  &.white-text {
    &, p, li, p a, h2, h3 {
      color: $color2;
      border-color: $color2;
    }
    h2 {
      font-weight: 700;
    }
    p a.btn {
      color: $color2 !important;
      border-color: $color2 !important;
      &:hover, &:focus {
        color: $color3 !important;
        background: $color2;
      }
    }
  }
}

.btn-arrow {
  background: url(../images/arrow-right.svg) no-repeat 100% 50% / 16px 14px;
  padding-right: 3rem;
  margin-top: 1.5rem;
}

#overlay {
  display: none;
  background: rgba(0,0,0,0.6);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  height: 100vh;
  width: 100%;
  z-index:2000;
}

#cookie-notice .button,
#cn-notice-text {
  display: inline-block;
}
