/* ----------------------------- */
/* ==Home                      */
/* ----------------------------- */

#home {
	@media ( min-width: ( $small + 1) ) {
		height: calc(100vh - 6.4rem);
		overflow: hidden;
	}
	.bloc-top {
    z-index: 10;
    position: relative;
    transition: transform 0.4s cubic-bezier(.29,.69,.29,1) 2s;
    padding-top: 5rem;
    @media ( max-width: $small ) {
    	height: auto;
    	.intro {
    		margin-bottom: 7rem;
  		}
  	}
  	@media ( min-width: ( $small + 1) ) {
  		height: 20vh;
			transform: translateY(30vh);
  	}
  	@media ( max-width: $medium ) and (orientation: landscape) {
  		width: 50%;
  		.intro {
  			font-size: 2rem;
			}
			.button {
				display: none;
			}
  	}
    &.anim {
    	transform: translateY(0);
    }
		.flex-container-v {
			height: 100%;
		}
	}
	.join-wall {

		.wall-link {
			width: 250px;
			margin: 0 auto;
			transition: width .3s ease;
			&.animwidth {
				width: 250px;
				@media (min-width: ($small + 1)) and (max-width: 1024px) and (orientation: portrait) {
					width: 220px;
				}

				.wall-link {
					pointer-events: none;
				}
			}
		}

		.submit {
			display: inline-block !important;
			padding: 0;
			border: none !important;
			padding: 0 !important;
			background: $color2 url(../images/arrow-right-grey.svg) no-repeat 50% 50% / 16px 15px !important;
			width: 50px;
			height: 36px;
			position: absolute !important;
			top: 2px;
			left: 198px;
		}
	}
}

#anim_home {
	position: relative;
	@media ( min-width: ( $small + 1) ) {
		height: calc(100vh - 6.4rem);
		overflow: hidden;
	}
	.inner {
		width: 100%;
		transition: background-position .5s cubic-bezier(.29,.69,.29,1) 1s;
		overflow: hidden;
		@media ( max-width: $small ) {
			padding-top: 8rem;
			padding-bottom: 5rem;
			background: #eff1f6 url(../images/bkg-forme.svg) no-repeat 100% 40%/120% auto;
		}
		@media ( min-width: ( $small + 1) ) {
			height: calc(100vh - 8rem);
			background: $color10 url(../images/bkg-forme.svg) no-repeat -100% 40% / 40% auto;
		}
		@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
			background: $color10 url(../images/bkg-forme.svg) no-repeat -100% 40% / 80% auto;
		}
		&.stop_anim {
			position: relative;
			top: 0;
			left: 0;
		}
	}
	.stick {
		height: 6rem;
		position: absolute;
		z-index: 1;
		@media ( max-width: $small ) {
			display: none;
		}
		&.yellow-stick {
			background: $color9;
			border-radius: 100px 0 0 100px;
			&.stick1 {
				right: 0;
				top: 21vh;
				width: 200px;
				transition: all .5s ease 1s;
			}
			&.stick2 {
				right: -60px;
				top: 9vh;
				width: 60px;
				transition: right .5s ease 2s;
				@media ( max-width: $small ) {
					display: block;
					top: 1%;
					right: 0;
				}

			}
		}
		&.blue-stick {
			background: $color6;
			border-radius: 0 100px 100px 0;
			&.stick1 {
				left: 0;
				top: 68vh;
				width: 90px;
				transition: all .5s ease 1s;
			}
			&.stick2 {
				left: -60px;
				top: 86%;
				width: 60px;
				transition: left .5s ease 2s;
				@media ( max-width: $small ) {
					display: block;
					top: 96%;
					left: 0;
				}
				@media ( max-width: $medium ) and (orientation: landscape) {
					top: 85%;
				}
			}
		}
		&.grey-stick {
			background: #E5E8F1;
			border-radius: 100px;
			transition: all .5s ease 1s;
			&.stick1, &.stick2 {
				border-radius: 0 100px 100px 0;
				left: 0;
			}
			&.stick1 {
				top: 8vh;
				width: 220px;
			}
			&.stick2 {
				top: 78vh;
				width: 330px;
			}
			&.stick3 {
				top: 49vh;
				left: 28vw;
				width: 180px;
			}
			&.stick4 {
				border-radius: 100px 0 0 100px;
				right: 0;
				top: 67vh;
				width: 405px;
			}
		}
	}

	.phone {
		height: auto;
		transition: transform 0.4s cubic-bezier(.29,.69,.29,1) 2s;
		width: 100%;
		text-align: center;
		z-index: 1;

		@media ( max-width: $small ) {
			margin-top: 6rem;
			position: relative;
			margin-bottom: 3.5rem;
		}
		@media (min-width: ( $tiny + 1 ) ) and (max-width: $small ) {
			width: 56%;
			margin: 0 auto;
			margin-bottom: 3.5rem;
		}

		@media ( min-width: ( $small + 1) ) {
			position: absolute;
			bottom: -8px;
			left: 0;
			transform: translateY(60%);
			img {
				height: calc(70vh - 8rem);
				width: auto;
				display: block;
				margin: 0 auto;
			}
		}

		@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
			img {
				height: calc(55vh - 8rem);
			}
		}

		.message {
			position: absolute;
			text-align: center;
			left: 50%;
			display: block;
			height: auto;
			@media ( max-width: $small ) {
				margin-left: -125px;
			}
			@media ( min-width: ( $small + 1) ) {
				transform: translateY(100px);
				opacity: 0;
			}
			img {
				width: 95%;
				display: block;
				height: auto;
			}

			&.message1 {
				width: 250px;
				top: 21%;
				transition: transform .5s cubic-bezier(.45,1.32,.48,1.16) 2.5s, opacity .5s ease 2.5s;
				@media (max-width: $tiny) {
					top: 18%;
				}
			}
			&.message2 {
				top: 34%;
				transition: transform .5s cubic-bezier(.45,1.32,.48,1.16) 3.5s, opacity .5s ease 3.5s;
				@media (max-width: $tiny) {
					top: 32%;
				}
			}
			&.message3 {
				top: 58%;
				transition: transform .5s cubic-bezier(.45,1.32,.48,1.16) 4.5s, opacity .5s ease 4.5s;
			}

			@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
				&.message1 {
					width: 250px;
					margin-left: -125px;
				}
				&.message2, &.message3 {
					width: 204px;
					margin-left: -102px;
				}
			}
		}
	}
	.bloc {
		@media ( max-width: $small ) {
			position: relative;
			margin-bottom: 3.5rem;
		}
		@media (min-width: ( $tiny + 1 ) ) and (max-width: $small ) {
			width: 56%;
			margin: 0 auto 3.5rem;
		}
		@media ( min-width: ( $small + 1) ) {
			position: absolute;
			width: 20%;
			transform: scale(0);
		}
		@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
			width: 30%;
		}
		img {
			width: 85%;
			height: auto;
			@media (max-width: $small) {
				width: 100%;
			}
		}
		.like {
			width: 6%;
			height: auto;
			position: absolute;
			img {
				width: 100%;
				height: auto;
				transform: scale(0);
			}
		}
		&.bloc1 {
			transition: transform .5s cubic-bezier(.53,-0.15,.36,1.27) 3s;
			.like {
				left: 9%;
				bottom: 11%;
			}
			@media ( max-width: $small ) {
				position: relative;
			}
			@media ( min-width: ( $small + 1) ) {
				top: 25%;
				left: 8%;
			}
			@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
				top: 22%;
				left: 2%;
				.like {
					bottom: 12%;
				}
			}
			@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
				.like {
					bottom: 11.5%;
				}
			}
		}
		&.bloc2 {
			transition: transform .5s cubic-bezier(.53,-0.15,.36,1.27) 4s;
			.like {
				left: 9%;
				bottom: 7.5%;
			}
			@media ( max-width: $small ) {
				position: relative;
			}
			@media ( min-width: ( $small + 1) ) {
				top: 60%;
				left: 15%;
			}
			@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
				top: 55%;
				left: 1%;
				.like {
					bottom: 9%;
				}
			}
			@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
				.like {
					bottom: 8.5%;
				}
			}
		}
		&.bloc3 {
			transition: transform .5s cubic-bezier(.53,-0.15,.36,1.27) 5s;
			@media ( max-width: $small ) {
				position: relative;
			}
			@media ( min-width: ( $small + 1) ) {
				top: 30%;
				left: 65%;
			}
			@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
				top: 27%;
				left: 67%;
			}
		}
		&.bloc4 {
			transition: transform .5s cubic-bezier(.53,-0.15,.36,1.27) 6s;
			@media ( max-width: $small ) {
				display: none;
			}
			@media ( min-width: ( $small + 1) ) {
				bottom: 0;
				right: 0;
			}
		}
	}
}
@media ( min-width: ( $small + 1 ) ) {

	#home {
		&.go_anim {

			.stick.grey-stick.stick4,
			.stick.yellow-stick.stick1 {
				right: -100%;
			}
			.stick.grey-stick.stick1,
			.stick.grey-stick.stick2,
			.stick.grey-stick.stick3,
			.stick.blue-stick.stick1 {
				left: -100%;
			}

			.stick.yellow-stick.stick2 {
				right: 0;
			}
			.stick.blue-stick.stick2 {
				left: 0;
			}

			.phone {
				transform: translateY(0);
			}

			.bloc-top {
	    	transform: translateY(0);
	    }

			.inner {
				background-position: 50% 40%;
			}

			.message {
				transform: translateY(0);
				opacity: 1;
			}

			.bloc {
				transform: scale(1);
			}

			.bloc1 .like img {
				animation: scaleLike .5s cubic-bezier(.05,1.58,.26,1.59) 4.8s both;
			}
			.bloc2 .like img {
				animation: scaleLike .5s cubic-bezier(.05,1.58,.26,1.59) 5.8s both;
			}

		}
	}

}

@keyframes scaleLike {
  0% {
    tranform: scale(0);
  }
  100% {
  	transform: scale(1);
  }
}

