/* ----------------------------- */
/* ==Slider [swiper]             */
/* ----------------------------- */

.section {
	&.section-testi {
		background: #edf4f4;
		background: -moz-linear-gradient(top, #edf4f4 0%, #ffffff 100%);
		background: -webkit-linear-gradient(top, #edf4f4 0%,#ffffff 100%);
		background: linear-gradient(to bottom, #edf4f4 0%,#ffffff 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf4f4', endColorstr='#ffffff',GradientType=0 );
	}
}

.testimonials {
	height: 400px;
	@media (max-width: $small) {
		height: 530px;
	}

	.flex-container, .flex-container > div {
		height: 100%;
	}
	.swiper-container {
    width: 100%;
    height: 370px;
    @media (max-width: $small) {
			height: 530px;
		}

    .swiper-slide {
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      transition: opacity .3s ease;

	    .photo {
	    	display: block;
	    	margin: 0 auto;
	    	width: 84px;
	    	height: 84px;
	    	border-radius: 100%;
	    	white-space: nowrap;
	    	margin-bottom: 2.2rem;
	    	img {
	    		border-radius: 100%;
	    		width: 84px;
	    		height: auto;
	    	}
	    }
	    blockquote {
	    	display: block;
	    	clear: both;
	    	padding-left: 0;
	    	max-width: 700px;
	    	width: 90%;
	    	margin: 0 auto;
	    	.caption {
	    		color: #626262;
	    		font-size: 1.8rem;
	    		font-weight: 700;
	    		margin-top: 3rem;
	    		span {
	    			color: #737373;
	    			font-weight: 400;
	    		}
	    	}
	    	p {
		    	font-size: 1.8rem;
		    	font-style: italic;
	    	}
	    	&:before {
		    	display: none;
	    	}
	    }

	  }

  }

  .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets { bottom: 0; }

  .swiper-pagination-bullet {
  	height: 15px;
  	width: 15px;
  	background: rgba(61,61,61,.3);
  	&.swiper-pagination-bullet-active {
  		background: $color3;
  	}
  }


}
