/* ----------------------------- */
/* ==structure                   */
/* ----------------------------- */

body {
	background: $color2;
	position: relative;
}

#masthead {
	display: flex;
	justify-content: center;
}

.wrapper {
	margin: 0 auto;
	width: 100%;

	@media ( max-width: ( $medium - 1 ) ) {
		max-width: 90%;
	}
	@media ( min-width: $medium ) {
		max-width: 960px;
	}

}

#main {
		.section:not(#home) {
			padding: 6rem 0 7rem;
			width: 100%;
		}
}

#page {
	opacity: 1;
	transition: opacity .2s ease;
	&.hide {
		opacity: 0;
	}
}

/*
 * Let's target IE to respect aspect ratios and sizes for img tags containing SVG files
 *
 * [1] IE9
 * [2] IE10+
 */
/* 1 */
.no-sizes img[src$=".svg"] {
  width: 100%;
}
/* 2 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src$=".svg"] {
    width: 100%;
  }
}